In [2]:
import requests
from bs4 import BeautifulSoup
import sqlite3

In [3]:
# creating the soup

url_to_scrape = 'http://quotes.toscrape.com/'
html_text = requests.get(url_to_scrape)
soup = BeautifulSoup(html_text.text, "html.parser")

In [ ]:
# view soup using prettify

print(soup.prettify())

In [4]:
# each quote is contained within a div with the class "quote"
# using find_all which will return a list of each div and its
# children that has the class "quote"

quotes = soup.find_all("div", { "class":"quote" })

In [44]:
# view a single quote

print(quotes[0])

<div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
<span class="text" itemprop="text">“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”</span>
<span>by <small class="author" itemprop="author">Albert Einstein</small>
<a href="/author/Albert-Einstein">(about)</a>
</span>
<div class="tags">
            Tags:
            <meta class="keywords" content="change,deep-thoughts,thinking,world" itemprop="keywords">
<a class="tag" href="/tag/change/page/1/">change</a>
<a class="tag" href="/tag/deep-thoughts/page/1/">deep-thoughts</a>
<a class="tag" href="/tag/thinking/page/1/">thinking</a>
<a class="tag" href="/tag/world/page/1/">world</a>
</meta></div>
</div>

<h3> Example: One Quote </h3>

In [5]:
quote = quotes[0]


# get text and author by identifying html tags and classes

text = quote.find("span", "text").text
author = quote.find("small", "author").text

# get author about url by finding a tags and getting the
# value of the "href" attribute

author_about = quote.find("a")["href"]


# find the section that contains the tags and extract each one
# by looking at its children


tags = quote.find("meta", "keywords").text.strip()
tags = tags.replace("\n", ',')

In [ ]:
print("text:", text, "\n")
print("author:", author, "\n")
print("author about address:", author_about, "\n")
print("tags: ", tags)

### Creating the database

In [6]:
conn = sqlite3.connect('my_database.db')
cur = conn.cursor()
print("opened database successfully")

opened database successfully

In [37]:
cur.execute('''DROP TABLE IF EXISTS quotes''')

In [38]:
cur.execute('''CREATE TABLE quotes (
    id INTEGER PRIMARY KEY,
    text TEXT,
    author TEXT,
    author_about TEXT,
    tags TEXT
    )''')

In [39]:
# nothing in the quotes table yet

cur.execute('''SELECT * FROM quotes''')
print(cur.fetchone())

None

In [45]:
# lets add the example quote we just extracted

# f string formatting to build the sql command
query = f"INSERT INTO quotes (text, author, author_about, tags) VALUES ('{text}','{author}','{author_about}','{tags}')"
print(query)
cur.execute(query)  # executing the sql
conn.commit()       # commiting the change

INSERT INTO quotes (text, author, author_about, tags) VALUES ('“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”','Albert Einstein','/author/Albert-Einstein','change,deep-thoughts,thinking,world')

In [42]:
select_command = f'SELECT * FROM quotes'
cur.execute(select_command)
results = cur.fetchall()
for each in results:
    print(each)

(1, '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”', 'Albert Einstein', '/author/Albert-Einstein', 'change,deep-thoughts,thinking,world')
(2, '“It is our choices, Harry, that show what we truly are, far more than our abilities.”', 'J.K. Rowling', '/author/J-K-Rowling', 'abilities,choices')
(3, '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”', 'Albert Einstein', '/author/Albert-Einstein', 'inspirational,life,live,miracle,miracles')
(4, '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”', 'Jane Austen', '/author/Jane-Austen', 'aliteracy,books,classic,humor')

### Now we can write a function that loops through each quote from our `quotes` list and inserts and commits them

In [40]:
def createQuery(content):
    
    
    # from above block
    text = quote.find("span", "text").text
    author = quote.find("small", "author").text

    author_about = quote.find("a")["href"]

    tags = quote.find("meta", "keywords").text.strip()
    tags = tags.replace("\n", ',')
    
    query = f"INSERT INTO quotes (text, author, author_about, tags) VALUES ('{text}','{author}','{author_about}','{tags}')"
    return query

In [47]:
for quote in quotes:
    query = createQuery(quote)
    print(query)
#     cur.execute(query)
    
# conn.commit()

INSERT INTO quotes (text, author, author_about, tags) VALUES ('“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”','Albert Einstein','/author/Albert-Einstein','change,deep-thoughts,thinking,world')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“It is our choices, Harry, that show what we truly are, far more than our abilities.”','J.K. Rowling','/author/J-K-Rowling','abilities,choices')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”','Albert Einstein','/author/Albert-Einstein','inspirational,life,live,miracle,miracles')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”','Jane Austen','/author/Jane-Austen','aliteracy,books,classic,humor')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”','Marilyn Monroe','/author/Marilyn-Monroe','be-yourself,inspirational')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“Try not to become a man of success. Rather become a man of value.”','Albert Einstein','/author/Albert-Einstein','adulthood,success,value')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“It is better to be hated for what you are than to be loved for what you are not.”','André Gide','/author/Andre-Gide','life,love')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“I have not failed. I've just found 10,000 ways that won't work.”','Thomas A. Edison','/author/Thomas-A-Edison','edison,failure,inspirational,paraphrased')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“A woman is like a tea bag; you never know how strong it is until it's in hot water.”','Eleanor Roosevelt','/author/Eleanor-Roosevelt','misattributed-eleanor-roosevelt')
INSERT INTO quotes (text, author, author_about, tags) VALUES ('“A day without sunshine is like, you know, night.”','Steve Martin','/author/Steve-Martin','humor,obvious,simile')